@font-face {
    font-family: 'Skranji';
    src: url('./assets/fonts/Skranji.woff2') format('woff2'),
        url('./assets/fonts/Skranji.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amatic SC';
    src: url('./assets/fonts/AmaticSC-Regular.woff2') format('woff2'),
        url('./assets/fonts/AmaticSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    background-color: #333333;
}

main {
    display: flex;
    height: 100%;
    width: 80%;
    min-width: 959px;
    align-items: center;
}

.logo-section {
    flex: 30%;
    height: 100%;
}

.registration-section {
    flex: 70%;
    height: 100%;
}

.card-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.card-body {
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.6;
    color: white;
    text-align: center;
    top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body img {
    width: 45%;
    max-width: 150px;
}

h1 {
    font-family: 'Skranji', 'Amatic SC', Geneva, Verdana, sans-serif;
    color: white;
}

.registration-section {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);
}

.form-intro {
    flex: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2em;
    gap: 1em;
    font-weight: 900;

    p {
        max-width: 65ch;
    }

    span {
        font-style: italic;
    }
}

.form-panel {
    flex: 30%;
    background: white;
    box-shadow: 1px 5px 10px darkgray;
}

.user-form {
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.group-form-elements {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 1em;
    column-gap: 3em;
}

.form-element {
    width: 35%;
    display: flex;
    flex-direction: column;

    input {
        border: 1px solid rgb(218, 218, 218);
        border-radius: 5px;
        height: 2em;
    }

    input:invalid:not(:placeholder-shown) {
        border-color: red;
    }

    input:valid:not(:placeholder-shown) {
        border-color: green;
    }

    input:focus {
        outline: none;
        border-color: blue;
        box-shadow: 1.5px 2.5px darkgray;
    }
}

.form-actions {
    flex: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2em;
    gap: 1em;

    button {
        width: 30%;
        height: 15%;
        background-color: darkgreen;
        color: white;
        font-weight: 900;
        border: none;
        border-radius: 10px;
    }

    a {
        text-decoration: none;
        color: green;
        font-weight: 900;
    }
}